@import './styles/header';
@import './styles/login';
@import './styles/main';
@import './styles/mixins';
@import './styles/toast';
@import './styles/variables';


body {
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 224, 200);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 15px;

}