@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&family=Tillana:wght@400;500;600;700;800&display=swap');

.message-to-user {
  width: 95%;
  color: $redBook;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: justify;
}