@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&family=Tillana:wght@400;500;600;700;800&display=swap');

.header {

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: rgba(247, 236, 218, 0.6);
  border: 2px solid $redBook;
  border-radius: 7px;
  padding: 5px;
  margin-top: 10px;
}

@media screen and (max-width: 1020px) {
  .header {
    width: 98%;
  }
}

.name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 200px;
  font-family: 'Tillana', system-ui;
  font-size: 24px;

}

@media screen and (max-width: 900px) {
  .name-container {
    font-size: 20px;
    width: 150px;
  }
}



.mini-cat {
  height: 75px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}


.title-container {
  height: 50px;
  width: 100px;
  font-family: 'Tillana', system-ui;
  font-size: 24px;
  color: rgb(56, 12, 98);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .title-container {
    font-size: 20px;
    width: 150px;
  }
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
  width: 300px;
}

@media screen and (max-width: 600px) {
  .icon-container {
    justify-content: center;
    align-items: center;
    width: 100px;
  }
}

.header-button {
  @include startButton;
  margin-top: 5px;
  max-width: 150px;
}

@media screen and (max-width: 600px) {
  .header-button {
    display: none;
  }
}

.logout {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-image: url('logout.png');
  background-size: cover;
}