@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&family=Tillana:wght@400;500;600;700;800&display=swap');

.gamearea {
  width: fit-content;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .gamearea {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 700px;
  border: 3px solid rgba(106, 24, 24, 0.418);
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left,
      rgba(242, 228, 231, 0.113),
      rgba(178, 171, 172, 0.181));
  aspect-ratio: 0.875;
}

@media screen and (max-width: 820px) {
  .container {
    width: 98%;
    aspect-ratio: 0.875;
  }
}

.startContainer {
  display: flex;

  flex-wrap: wrap;
  width: 800px;
  height: 700px;
  border: 3px solid rgba(106, 24, 24, 0.418);
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left,
      rgba(242, 228, 231, 0.113),
      rgba(178, 171, 172, 0.181));
  aspect-ratio: 0.875;
}

.mainContainer {
  display: flex;

  flex-wrap: wrap;
  width: 800px;
  height: 500px;
  border: 3px solid rgba(106, 24, 24, 0.418);
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left,
      rgba(242, 228, 231, 0.113),
      rgba(178, 171, 172, 0.181));
  aspect-ratio: 0.625;
}


@media screen and (max-width: 820px) {
  .startContainer {
    width: 100%;
    aspect-ratio: 0.625;
  }

  .mainContainer {
    width: 100%;

  }
}

.welcomeMessage {
  font-family: 'Gochi Hand', cursive;
  font-size: 36px;
  color: rgb(106, 123, 91);
  width: 80%;
  text-align: center;
}

.inputContainer {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left,
      rgba(248, 235, 237, 0.4),
      rgba(184, 166, 169, 0.4));
  border-radius: 10px;
}

.leftPanel {
  width: 58%;
  background: url('loginCat.png');
  background-size: cover;
  background-position: -50px 0px;
  aspect-ratio: 1.724;
}

@media screen and (max-width: 710px) {
  .leftPanel {
    background: url('loginCat.png');
    background-size: cover;
    background-position: -60px -0px;
    aspect-ratio: 1.724;
  }
}

@media screen and (max-width: 710px) {
  .leftPanel {
    background: '';
    width: 0%;
  }
}

.leftStartPanel {
  width: 58%;
  background: url('aboutCat.png');
  background-size: cover;
  background-position: -50px 0px;
}

@media screen and (max-width: 800px) {
  .leftStartPanel {

    background-size: cover;
    background-position: -70px 0px;
  }
}

@media screen and (max-width: 750px) {
  .leftStartPanel {

    background-size: cover;
    background-position: -95px 0px;
  }
}

@media screen and (max-width: 700px) {
  .leftStartPanel {

    background-size: cover;
    background-position: -115px 0px;
  }
}

@media screen and (max-width: 675px) {
  .leftStartPanel {

    background-size: cover;
    background-position: -135px 0px;
  }
}


@media screen and (max-width: 650px) {
  .leftStartPanel {

    background-size: cover;
    background-position: -145px 0px;
  }
}

@media screen and (max-width: 630px) {
  .leftStartPanel {

    background-size: cover;
    background-position: -155px 0px;
  }
}

@media screen and (max-width: 605px) {
  .leftStartPanel {
    width: 0%
  }
}


.rightPanel {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 42%;
}

@media screen and (max-width: 710px) {
  .rightPanel {
    background: '';
    width: 70%;
    margin: auto;
  }
}

.rightStartPanel {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 40%;
}

@media screen and (max-width: 605px) {
  .rightStartPanel {
    width: 80%;
    font-size: 18px;
    margin: auto;
  }
}

.input {
  display: block;
  border-radius: 7px;
  border: 1px solid $redBook;
  width: 90%;
  height: 30px;
  font-family: 'Tillana', system-ui;
  font-size: 18px;
  font-weight: 500;
  color: $greenBook;
}

.label {
  color: hsl(6, 37%, 45%);
  font-family: 'Lobster', sans-serif;
  font-size: 18px;
}

.startButton {
  @include startButton;
  width: 200px;
}

.aboutButton {
  @include startButton;
  margin-top: 20px;
  width: 200px;
}

@media screen and (max-width: 820px) {
  .aboutButton {
    font-size: 20px;
  }
}

.disabled {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 2px solid #888787;
  text-align: center;
  border-radius: 10px;
  color: #666666;
  font-weight: 400;
  cursor: not-allowed;
  background: linear-gradient(to left, #f7f3f3, #bfbbbb);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to right, #f7f3f3, #bfbbbb);
    border: 2px solid #2f2e2e;
  }
}

.error {
  color: red;
  font-size: 14px;
}